// FONT SIZES
$f1: 72px;
$f2: 48px;
$f3: 38px;
$f4: 22px;
$f5: 16px;

// LINE HEIGHTS
$lh1: 1.2;
$lh2: 1.4;
$lh3: 1.8;
$lh4: 2;

//COLORS
$white: #FFFFFF;
$white-grey: #DEDEDE;
$red: #ff0000;
$black: #000000;


// ANIMATIONS
$hover-transition: ease-in-out 0.4s;
$modal-transition: 0.4s;